section.about#about
  .wrapper
    .title About
    .description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
    .about_wrap
      .about__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
      .about__text Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
    .about_wrap
      .mate
        .mate__photo
          img(src="img/mate_reiss.jpg")
        .mate__name 
          span.mate__name_slashes //
          span REISS SOMERS
          span.mate__name_slashes //
        .mate__role Founder
        .mate__description Lorem ipsum par de late ddolor sit amet, consectetuer adipiscing fe elit, sed diam Lorem ipsum dolor ret tes ople sit amet, consectetuer adipiscing elit, sed diam
        .mate__social
          a(href="").link.link_social.icon.socicon-facebook
          a(href="").link.link_social.icon.socicon-twitter
          a(href="").link.link_social.icon.socicon-linkedin
          a(href="").link.link_social.icon.socicon-vimeo
      .mate
        .mate__photo
          img(src="img/mate_chris.jpg")
        .mate__name
          span.mate__name_slashes //
          span CHRIS DOE
          span.mate__name_slashes //
        .mate__role Designer
        .mate__description Lorem ipsum par de late ddolor sit amet, consectetuer adipiscing fe elit, sed diam Lorem ipsum dolor ret tes ople sit amet, consectetuer adipiscing elit, sed diam
        .mate__social
          a(href="").link.link_social.icon.socicon-facebook
          a(href="").link.link_social.icon.socicon-twitter
          a(href="").link.link_social.icon.socicon-linkedin
          a(href="").link.link_social.icon.socicon-vimeo
      .mate
        .mate__photo
          img(src="img/mate_josh.jpg")
        .mate__name
          span.mate__name_slashes //
          span JOSH SOMERS
          span.mate__name_slashes //
        .mate__role Developer
        .mate__description Lorem ipsum par de late ddolor sit amet, consectetuer adipiscing fe elit, sed diam Lorem ipsum dolor ret tes ople sit amet, consectetuer adipiscing elit, sed diam
        .mate__social
          a(href="").link.link_social.icon.socicon-facebook
          a(href="").link.link_social.icon.socicon-twitter
          a(href="").link.link_social.icon.socicon-linkedin
      .mate
        .mate__photo
          img(src="img/mate_henry.jpg")
        .mate__name
          span.mate__name_slashes //
          span HENRY DOE
          span.mate__name_slashes //
        .mate__role Project Manager
        .mate__description Lorem ipsum par de late ddolor sit amet, consectetuer adipiscing fe elit, sed diam Lorem ipsum dolor ret tes ople sit amet, consectetuer adipiscing elit, sed diam
        .mate__social
          a(href="").link.link_social.icon.socicon-facebook
          a(href="").link.link_social.icon.socicon-twitter
          a(href="").link.link_social.icon.socicon-linkedin
