section.contact
  .map
    <iframe width="100%" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=14&center=9.9353,76.3854&key=AIzaSyBBqxl0eFbMmMxfV-YdXhKxUIqewbCiTA4" allowfullscreen></iframe>
  .wrapper
    .contact_wrap
      .title Contact
      .form
        .form_wrap
          input(type="text", placeholder="Name").form__input.form__item
          input(type="email", placeholder="E-mail").form__input.form__item
        textarea(placeholder="Message").form__textarea.form__item
        .form_wrap
          button(type="submit").form__button.form__item Submit
