section.portfolio#portfolio
  .wrapper.wrapper_portfolio
    .title Portfolio
    ul.list.portfolio__list
      li
        a.link.link_portfolio.breadcrumb.link_portfolio-is-checked(href="#" data-filter="*") Show All
      li
        a.link.link_portfolio.breadcrumb(href="#" data-filter=".illustration") Illustration
      li
        a.link.link_portfolio.breadcrumb(href="#" data-filter=".motion") Motion Graphics
      li
        a.link.link_portfolio.breadcrumb(href="#" data-filter=".photo") PhotoGraphy
      li
        a.link.link_portfolio(href="#" data-filter=".web") Web design
  .portfolio__works
    a(href="", data-category="web").link.web.portfolio__item
      .portfolio__item_wrap
        img(src="img/portfolio-1.jpg").portfolio__img
        .portfolio__title App Landing Page
        .portfolio__category Web design
        .portfolio__icon
    a(href="", data-category="illustration").link.illustration.portfolio__item
      .portfolio__item_wrap
        img(src="img/portfolio-2.jpg").portfolio__img
        .portfolio__title Banner
        .portfolio__category Illustration
        .portfolio__icon
    a(href="", data-category="photo").link.photo.portfolio__item
      .portfolio__item_wrap
        img(src="img/portfolio-3.jpg").portfolio__img
        .portfolio__title Backstage
        .portfolio__category Photography
        .portfolio__icon
    a(href="", data-category="motion").link.motion.portfolio__item
      .portfolio__item_wrap
        img(src="img/portfolio-4.jpg").portfolio__img
        .portfolio__title Showreel
        .portfolio__category Motion Graphics
        .portfolio__icon
    a(href="", data-category="web").link.web.portfolio__item
      .portfolio__item_wrap
        img(src="img/portfolio-5.jpg").portfolio__img
        .portfolio__title Admin panel
        .portfolio__category Web design
        .portfolio__icon
    a(href="", data-category="illustration").link.illustration.portfolio__item
      .portfolio__item_wrap
        img(src="img/portfolio-6.jpg").portfolio__img
        .portfolio__title Identity
        .portfolio__category Illustration
        .portfolio__icon
    a(href="", data-category="photo").link.photo.portfolio__item
      .portfolio__item_wrap
        img(src="img/portfolio-7.jpg").portfolio__img
        .portfolio__title Nature
        .portfolio__category Photography
        .portfolio__icon
    a(href="", data-category="motion").link.motion.portfolio__item
      .portfolio__item_wrap
        img(src="img/portfolio-8.jpg").portfolio__img
        .portfolio__title App motion
        .portfolio__category Motion Graphics
        .portfolio__icon
    //- a(href="", data-category="web").link.portfolio__item.web
    //-   img(src="img/portfolio-1.jpg").portfolio__img
    //-   .portfolio__title App Landing Page
    //-   .portfolio__category Web design
    //- a(href="", data-category="illustration").link.portfolio__item.illustration
    //-   img(src="img/portfolio-2.jpg").portfolio__img
    //-   .portfolio__title Banner
    //-   .portfolio__category Illustration
    //- a(href="", data-category="photo").link.portfolio__item.photo
    //-   img(src="img/portfolio-3.jpg").portfolio__img
    //-   .portfolio__title Backstage
    //-   .portfolio__category Photography
    //- a(href="", data-category="motion").link.portfolio__item.motion
    //-   img(src="img/portfolio-4.jpg").portfolio__img
    //-   .portfolio__title Showreel
    //-   .portfolio__category Motion Graphics
    //- a(href="", data-category="web").link.portfolio__item.web
    //-   img(src="img/portfolio-5.jpg").portfolio__img
    //-   .portfolio__title Admin panel
    //-   .portfolio__category Web design
    //- a(href="", data-category="illustration").link.portfolio__item.illustration
    //-   img(src="img/portfolio-6.jpg").portfolio__img
    //-   .portfolio__title Identity
    //-   .portfolio__category Illustration
    //- a(href="", data-category="photo").link.portfolio__item.photo
    //-   img(src="img/portfolio-7.jpg").portfolio__img
    //-   .portfolio__title Nature
    //-   .portfolio__category Photography
    //- a(href="", data-category="motion").link.portfolio__item.motion
    //-   img(src="img/portfolio-8.jpg").portfolio__img
    //-   .portfolio__title App motion
    //-   .portfolio__category Motion Graphics
