footer.footer
  .wrapper
    .footer_wrap
      ul.list.footer__list
        li.footer__item +1 9654489316521
        li.footer__item #14, Ovation Lane,
        li.footer__item Aliso Viejo,
        li.footer__item California - 92656
      ul.list.footer__list
        li.footer__item +1 9654489316521
        li.footer__item #14, Ovation Lane,
        li.footer__item Aliso Viejo,
        li.footer__item California - 92656
      ul.list.footer__list
        li.footer__item +1 9654489316521
        li.footer__item #14, Ovation Lane,
        li.footer__item Aliso Viejo,
        li.footer__item California - 92656
      .social
        a(href="").link.footer__icon.footer__icon-gp
          img(src="img/icon-gp.png")
        a(href="").link.footer__icon.footer__icon-fb
          img(src="img/icon-fb.png")
        a(href="").link.footer__icon.footer__icon-tw
          img(src="img/icon-tw.png")
        a(href="").link.footer__icon.footer__icon-in
          img(src="img/icon-in.png")
  .footer__copyright Copyright© 2016 XakBoX. All rights reserved.  Privacy Policy | Terms of Service | Careers