section.services#services
  .wrapper
    .title Services
    .description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
    .services_wrap
      .service
        .service__icon
          .service__icon_responsive
        .service__title Fully responsive
        .service__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum door sit am sum dolor ectetur adipiscing elit. Nam dui lacus, sit am. adipiscing elit. Nam dui lacus, sit am.
      .service
        .service__icon
          .service__icon_customize
        .service__title Easy To Customize
        .service__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum door sit am sum dolor ectetur adipiscing elit. Nam dui lacus, sit am. adipiscing elit. Nam dui lacus, sit am.
      .service
        .service__icon
          .service__icon_dragdrop
        .service__title Drag & Drop features
        .service__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum door sit am sum dolor ectetur adipiscing elit. Nam dui lacus, sit am. adipiscing elit. Nam dui lacus, sit am. 
      .service
        .service__icon
          .service__icon_setup
        .service__title 15 Minutes Setup
        .service__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum door sit am sum dolor ectetur adipiscing elit. Nam dui lacus, sit am. adipiscing elit. Nam dui lacus, sit am.
