section.blog
  .wrapper
    .title Blog
    .description Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
    .blog_wrap
      .post
        a(href="").link
          img(src="img/1.jpg").post__image
        .post__category
          a(href="").link Social
        .post__title 
          a(href="").link Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus
        .post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur
      .post
        a(href="").link
          img(src="img/2.jpg").post__image
        .post__category
          a(href="").link People
        .post__title
          a(href="").link Lorem ipsum dolor sit amet do
        .post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, con-
      .post
        a(href="").link
          img(src="img/3.jpg").post__image
        .post__category
          a(href="").link Social
        .post__title
          a(href="").link Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus
        .post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do
      .post
        a(href="").link
          img(src="img/4.jpg").post__image
        .post__category
          a(href="").link People
        .post__title
          a(href="").link Lorem ipsum dolor sit ametipiscing elit.
        .post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, con-
      .post
        a(href="").link
          img(src="img/5.jpg").post__image
        .post__category
          a(href="").link Device
        .post__title
          a(href="").link Lorem ipsum dolor sit ametipiscing elit.
        .post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, con-
      .post
        a(href="").link
          img(src="img/6.jpg").post__image
        .post__category
          a(href="").link People
        .post__title
          a(href="").link Lorem ipsum dolor sit amelacan sum
        .post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, con-
      .post
        a(href="").link
          img(src="img/7.jpg").post__image
        .post__category
          a(href="").link News
        .post__title
          a(href="").link Lorem ipsum dolor sit amet, consectetur adipisr sit ectetue Lorem ipsum
        .post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do
      .post
        a(href="").link
          img(src="img/8.jpg").post__image
        .post__category
          a(href="").link People
        .post__title
          a(href="").link Lorem ipsum dolor sit amet, coturipising
        .post__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui lacus, accumsan sum do lor sit am sum dolor ectetur Lorem ipsum dolor sit amet, con-