.description
  color $black
  font-family $sans-serif_2
  font-size 16px
  font-weight 400
  margin-bottom 30px
  text-align center
  text-transform uppercase

@media (min-width: $screen)
  .description
    margin-bottom 50px

@media (min-width: $screen_large)
  .description
    margin-bottom 75px
