// Colors
// ______

// Common colors

$black = #000
$green = #00a388
$grey = #f1f2f1
$light-green = #f5fffd
$violet = #140e1d
$white = #fff

// Font
// ____

$sans-serif_1 = 'Open Sans', Arial, Roboto, sans-serif
$sans-serif_2 = Signika, Arial, Robot, sans-serif

// Resolution
// __________

$tablet = 40em
$screen = 64em
$screen_large = 90em