section.menu
  .wrapper
    .burger
    ul.list.menu__list
      li.menu__item.breadcrumb
        a.link(href="") Home
      li.menu__item.breadcrumb
        a.link(href="#about") About
      li.menu__item.breadcrumb
        a.link(href="#portfolio") Portfolio
      li.menu__item.breadcrumb
        a.link(href="#services") Services
      li.menu__item.breadcrumb
        a.link(href="#blog") Blog
      li.menu__item
        a.link(href="#contact") Contact
