.menu
  background $green
  padding 10px 0

.menu__list
  align-items center
  display none
  flex-flow column nowrap

.menu__list_expand
  display flex

.menu__item
  color $grey
  font-family $sans-serif_2
  font-size 18px
  font-weight 400
  margin 10px 0
  text-transform uppercase

.scroll-to-top
  background rgba($violet, 0.25)
  bottom 50px
  color $violet
  display none
  padding 10px
  position fixed
  right 50px
  text-align center
  text-decoration none

.scroll-to-top:hover
  text-decoration none

@media (min-width: $tablet)
  .menu__list
    display flex
    flex-flow row wrap
    justify-content center