section.menu
  .wrapper
    .burger
    ul.list.menu__list
      li.menu__item.breadcrumb
        a.link(href="") Home
      li.menu__item.breadcrumb
        a.link(href="") About
      li.menu__item.breadcrumb
        a.link(href="") Portfolio
      li.menu__item.breadcrumb
        a.link(href="") Services
      li.menu__item.breadcrumb
        a.link(href="") Blog
      li.menu__item
        a.link(href="") Contact
