section.menu
  .wrapper
    .burger
    ul.list.menu__list
      li.menu__item.breadcrumb
        a.link.link_menu(href="") Home
      li.menu__item.breadcrumb
        a.link.link_menu(href="#about") About
      li.menu__item.breadcrumb
        a.link.link_menu(href="#portfolio") Portfolio
      li.menu__item.breadcrumb
        a.link.link_menu(href="#services") Services
      li.menu__item.breadcrumb
        a.link.link_menu(href="#blog") Blog
      li.menu__item
        a.link.link_menu(href="#contact") Contact
  a(href="#").scroll-to-top &#8593;