<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title Document
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Signika:400,600,700" rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")
  body.page
    include blocks/header/header.pug
