<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    title Document
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Signika:400,600,700" rel="stylesheet")
    link(href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet")
    link(rel="stylesheet", href="css/main.css")
  body.page
    include blocks/header/header.pug
    include blocks/menu/menu.pug
    include blocks/about/about.pug
    include blocks/portfolio/portfolio.pug
    include blocks/services/services.pug
    include blocks/blog/blog.pug
    include blocks/contact/contact.pug
    include blocks/footer/footer.pug
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js")
    script.
      // init Isotope
      var $grid = $('.portfolio__works').isotope({
        itemSelector: '.portfolio__item',
        layoutMode: 'fitRows',
        filter: '*'
      });
      // bind filter button click
      $('.portfolio__list').on( 'click', '.link_portfolio', function() {
        var filterValue = $( this ).attr('data-filter');
        $grid.isotope({ filter: filterValue });
      });
      // change is-checked class on buttons
      $('.portfolio__list').each( function( i, buttonGroup ) {
        var $buttonGroup = $( buttonGroup );
        $buttonGroup.on( 'click', '.link_portfolio', function() {
          $buttonGroup.find('.link_portfolio-is-checked').removeClass('link_portfolio-is-checked');
          $( this ).addClass('link_portfolio-is-checked');
        });
      });
      $('.link_portfolio').click(function(event){
        event.preventDefault();
      });
    script.
      $(document).ready(function(){

        // Mobile menu
        $('.burger').click(function(){
          $('.menu__list').toggleClass('menu__list_expand');
          $(this).toggleClass('open');
        });
        
        // Check to see if the window is top if not then display button
        $(window).scroll(function(){
          if ($(this).scrollTop() > 1500) {
            $('.scroll-to-top').fadeIn();
          } else {
            $('.scroll-to-top').fadeOut();
          }
        });
        
        // Click event to scroll to top
        $('.scroll-to-top').click(function(){
          $('html, body').animate({scrollTop : 0},800);
          return false;
        });

        // Scroll to menu item
        $('.link_menu').on('click', function(e){
          $('html,body').stop().animate({ scrollTop: $(this.hash).offset().top }, 1000);
          e.preventDefault();
        });
        
      });
