// Common style
// ____________

@import "blocks/common/var.styl"
@import "blocks/common/sprite.styl"

@import "blocks/common/page.styl"
@import "blocks/common/wrapper.styl"
@import "blocks/common/link.styl"
@import "blocks/common/list.styl"
@import "blocks/common/burger.styl"
@import "blocks/common/breadcrumb.styl"
@import "blocks/common/title.styl"
@import "blocks/common/description.styl"

// Section style
// _____________

@import "blocks/header/header.styl"
@import "blocks/menu/menu.styl"
@import "blocks/services/services.styl"
@import "blocks/blog/blog.styl"
@import "blocks/contact/contact.styl"
